<h2 *ngIf="myProduct">{{myProduct.title | uppercase}}</h2>
<img *ngIf="myProduct" src={{myProduct.imageUrl}} width=100 />
<p *ngIf="myProduct">{{myProduct.description}}</p>
<p  *ngIf="myProduct && myProduct.sizes">plusieur taille dispo</p>
<select *ngIf="myProduct" (change)="SizeSelected($event)">
    <option *ngFor="let siz of myProduct.sizes" [value]="siz.price">
        taille {{siz.taille}}
    </option>
</select>
<b>{{value | currency: 'EUR'}} </b>
<!--<b>{{myProduct.price | currency: 'EUR'}}</b>-->
<p>
    <b *ngIf="myProduct">{{myProduct.likes}} ♦</b>
    <button (click)="onLike()">Like</button>
</p>
<p *ngIf="myProduct">{{myProduct.date | date:'EEEE d MMMM y' }}</p>

