.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart-container {
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .empty-cart {
    text-align: center;
    color: #999;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 10px;

      .item-info {
        display: flex;
        align-items: center;

        .item-details {
          margin-right: 10px;
          font-size: 16px;
          color: #333;
        }

        .item-size {
          font-size: 14px;
          color: #999;
        }
      }

      .item-price {
        font-size: 16px;
        color: #333;
      }

      .item-quantity {
        display: flex;
        align-items: center;

        button {
          margin: 0 5px;
          padding: 4px 8px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          font-size: 16px;

          &:hover {
            background-color: darken(#007bff, 10%);
          }
        }

        span {
          font-size: 16px;
          color: #333;
        }
      }

      .delete-button {
        margin-left: auto;
        padding: 4px 8px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;

        &:hover {
          background-color: darken(#dc3545, 10%);
        }
      }
    }
  }

  .total-amount {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .checkout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 18px;

    &:hover {
      background-color: darken(#007bff, 10%);
    }
  }
}