<div class="container">
    <div class="cart-container">
      <h2>Shopping Cart</h2>
      <ng-container *ngIf="cartService.getCart().length > 0; else emptyCart">
        <ul>
          <li *ngFor="let item of cartService.getCart()">
            <div class="item-info">
              <div class="item-details">
                <div class="item-name">{{ item.product.title }}</div>
                <div class="item-size">Size: <span class="size-value">{{ item.size }}</span></div>
              </div>
              <div class="item-price">{{ cartService.getPriceForItem(item) * item.quantity | currency : 'EUR' }}</div>
            </div>
            <div class="item-quantity">
              <button (click)="cartService.increaseQuantity(item.product, item.size)">+</button>
              <span>{{ item.quantity }}</span>
              <button (click)="cartService.decreaseQuantity(item.product, item.size)" [disabled]="item.quantity <= 1">-</button>
            </div>
            <button class="delete-button" (click)="cartService.removeFromCart(item.product, item.size)">Delete</button>
          </li>
        </ul>
        <div class="total-amount">Total: {{ cartService.getTotalPrice() | currency : 'EUR' }}</div>
        <button class="checkout-button" [routerLink]="['/checkout']" [disabled]="cartService.getCart().length === 0">Checkout</button>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart">Your cart is empty.</div>
      </ng-template>
    </div>
  </div>